body {
    background-color: #FFFFFF;
    color: #363030;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Typography */
.h1,
h1 {
    font-size: 3.75rem;
}

.h2,
h2 {
    font-size: 3rem;
}

.h3,
h3 {
    font-size: 2.25rem;
}

/* Button */
.btn-ourdrobe {
    border-radius: 30px;
}

.btn-ourdrobe-blue {
    background-color: #7995FB;
    color: #FFFFFF;
}

.btn-ourdrobe-green {
    background-color: #4BBE9A;
    color: #FFFFFF;
}

/* Text */
.text-ourdrobe-green {
    color: #74D1B4;
}

.text-ourdrobe-pink {
    color: #FE88FE;
}

.logo {
    height: 51px;
}

.hl {
    border-top: 4px solid #FFFFFF;
    width: 150px;
}

.home-banner h1,
.about-download .h2,
.about-download .h3 {
    line-height: 1;
}

.about-banner h1 {
    line-height: .8;
}